* {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --background-color: #a65fbe;
    --container: rgb(252, 237, 206);
    --submit: #44934d;
    --delete: #9d2525;
    --texto-padrao: black;
    --destaque: #652a79;
}

body {
    background-color: var(--background-color);
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    background-color: var(--container);
    border-radius: 50px;
    margin: auto;
    padding: 50px;
    box-shadow: 6px 6px 10px 18px rgba(0, 0, 0, 0.1);
    border: .5px solid black;
}

#titulo-pagina {
    text-align: center;
    text-wrap: balance;
    font-size: clamp(2.5rem, 6vw, 4rem);
    margin-top: 30px;
    margin-bottom: 20px;
    color: var(--destaque);
    -webkit-text-stroke: 0.1px #00000050;
}

.container-forms {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
}


.perguntas-form {
    margin: auto;
    margin-bottom: 15px;
    font-weight: bolder;

}

.pergunta::placeholder {
    color: var(--texto-padrao);
    opacity: 0.6;
}

#formConversorBase .pergunta {
    width: 100%;
    max-width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;

}

#numeroConvertido {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}



.botao {
    border-radius: 8px;
    border: 2px solid none;
    padding: 5px;
    font-weight: bolder;
}

.botao[type="submit"] {
    background-color: var(--submit);
    border: 2px solid #1e4923;
}

.botao[type="button"] {
    background-color: var(--delete);
    border: 2px solid #4c0c0c;
}

#historico {
    margin: auto;

}

#historico ul {
    margin-top: 10px;
    margin-left: 10px;
    list-style-type: none;

}